.mainContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContainer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #9B9B9B ;
}

.signUpContainer p {
    text-align: center;
    font-family: var(--poppins-regular);
}

.centeredContainer {
    width: 60vh;
    max-width: 85%;
    height: 90%;
}

.loginContainer {
    width: 100%;
    margin-top: 10vh;
}

.loginContainer h1 {
    font-family: var(--poppins-bold);
    font-size: 40px;
}

.inputBox {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #D275FF;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 3%;
    font-family: var(--poppins-regular);
}

.inputBox input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 2vh;
}

.inputBox input::placeholder {
    color: #9B9B9B;
    font-family: var(--poppins-regular);
    font-size: 2vh;
}

.loginButt {
    width: 100%;
    background-color: #D275FF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding: 3%;
    font-family: var(--poppins-bold);
    color: white;
}

.loginContainer p {
    margin-top: 2vh;
    font-family: var(--poppins-regular);
    font-size: 2vh;
    color: #9B9B9B;
}

.link {
    margin-left: 5px;
}

