@import url("../stylesheets/variables.css");

#mainContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#unlockedContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#pfpWrap {
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  height: 35vw;
  margin-bottom: 10px;
}

#buttonWrap {
  height: 10vw;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonWrap img {
  height: 90%;
  object-fit: contain;
}


#buttonWrap img:hover {
  cursor: pointer;
}

#mainContainer h1 {
  font-size: 8vw;
  font-family: var(--bol);
  margin-bottom: 0px;
  word-wrap: break-word;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

#desc {
  width: 80vw;
  word-wrap: break-word;
  text-align: center;
  font-size: 4vw;
  color: var(--sup);
  font-family: var(--reg);
  outline: none;
  border: 0px;
  resize: none;
  margin-bottom: 10px;
}

#mainContainer p {
  width: auto;
  word-wrap: break-word;
  /* font-size: 2vw; */
  font-size: 20px;
  color: var(--sup);
  font-family: var(--reg);
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#lock {
  object-fit: contain;
  width: 20vw;
}

#status {
  font-family: var(--med);
  font-size: 6vw;
  margin-bottom: 20px;
}


.shake {
  animation: shake-animation 0.5s ease-in-out infinite;
}

@keyframes shake-animation {
  0% {
    transform: translateY(0);
  }
  /* 25% {
    transform: translateY(-5px);
  } */
  50% {
    transform: translateY(-5px);
  }
  /* 75% {
    transform: translateY(-5px);
  } */
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  #unlockedContainer {
    justify-content: center;
  }
}

@media (min-width: 500px) {
  #pfpWrap {
    height: 180px;
  }
  #buttonWrap {
    height: 50px;
  }
  #mainContainer h1 {
    font-size: 40px;
  }
  #mainContainer p {
    font-size: 20px;
  }
  #status {
    font-size: 30px;
  }
  #lock {
    width: 100px;
  }
}
