@import url("../stylesheets/variables.css");

#mainWrapper {
  width: 95vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 3vw;
  
}

#mainWrapper div {
  border: 0px solid black;
}

#exclamation {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: var(--bol);
  font-size: 6vw;
}

#picContainer {
  grid-row: 1 / 2;
  grid-column: 1 / 2 ;
}

#titleWrapper {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5vw;
  font-family: var(--med);
  padding-left: 2vw;
  padding-right: 2vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflowContainer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#date {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  font-size: 4vw;
  /* padding-right: 2vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--med);
}

#picContainer {
  width: 14vw;
  aspect-ratio: 1 / 1;
  border-radius: 2vw;
  /* margin-left: 2vw; */
  background-color: orange;
}

#plusButton {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  width: 80px;
  height: 80px;
}

@media (min-width: 700px) {
  #picContainer {
    width: 100px;
    border-radius: 20px;
  }
  #date {
    font-size: 25px;
  }
  #titleWrapper {
    font-size: 30px;
  }
  #descr {
    font-size: 25px;
  }
  #mainWrapper {
    width: 60%;
    margin: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 3px 10px 1px rgb(228, 228, 228);
  transition: box-shadow 100ms ease;
  }
  #mainWrapper:hover {
    box-shadow: 0px 5px 8px 5px rgb(228, 228, 228);
  }
}

@media (min-width: 1100px) {
  #exclamation {
    font-size: 60px;
  }
}
