@import url("../stylesheets/variables.css");

#mainAreaContainer {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  border-radius: 10px;
  aspect-ratio: 2 / 1;
  width: 30%;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#middleContainer img {
  width: 6vw;
  height: 6vw;
  margin-bottom: 2px;
}

#descBox {
  padding-top: 5px;
}

#middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#middleContainer p {
  font-family: var(--med);
  font-size: 4vw;
  text-align: center;
}

#formBoxWrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

#formBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid black;
  padding: 8vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 4fr 1fr;
  grid-gap: 15px;
  position: relative;
}

#formBox input {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  font-size: 4vw;
  overflow: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  border: 0px solid black;
  outline: none;
  font-family: var(--reg);
  padding-left: 10px;
  padding-right: 10px;
}

#formBox textarea {
  width: 100%;
  height: 100%;
  border: 0px solid black;
  outline: none;
  font-size: 4vw;
  font-family: var(--reg);
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}

.formInputBox {
  border-radius: 10px;
  border: 5px solid black;
  /* padding: 20px; */
  overflow: hidden;
}

#createButton {
  border-radius: 10px;
  background-color: var(--acc);
  display: flex;
  justify-content: center;
  align-items: center;
}

#createButton h1 {
  font-size: 5vw;
  color: white;
  font-family: var(--bol);
}

#uploadContainer {
  display: flex;
  align-items: center;
}

#uploadContainer div {
  margin-right: 10px;
  font-family: var(--med);
  height: 100%;
  border-radius: 10px;
  background-color: var(--acc);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 2.5vw;
  text-align: center;
  color: white;
}

#minButton {
  background-color: red;
  height: 6vw;
  width: 6vw;
  position: absolute;
  right: 2vw;
  top: 2vw;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crossPiece {
  background-color: white;
  border-radius: 100px;
  height: 50%;
  width: 8%;
  position: absolute;
  transform: rotate(45deg);
}

.crossPiece:nth-child(1) {
  transform: rotate(-45deg);
}

#contentWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sup);
  font-family: var(--reg);
  font-size: 20px;
}

@media (min-width: 800px) {
  #middleContainer p {
    font-size: 30px;
  }
  #middleContainer img {
    width: 40px;
    height: 40px;
  }
  #uploadContainer div {
    font-size: 20px;
  }
}

#dateBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 700px) {
  #formBox {
    padding: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr 4fr 1fr;
  }
  #descBox {
    grid-column: span 2;
  }
  #uploadContainer {
    grid-column: span 2;
  }
  #contentBox {
    grid-column: span 2;
  }
  #createButton {
    grid-column: span 2;
  }
}

@media (min-width: 700px) {
  #createButton h1 {
    font-size: 25px;
  }
  #minButton {
    height: 25px;
    width: 25px;
    right: 8px;
    top: 8px;
  }
  #formBox input {
    font-size: 20px;
  }
  #formBox textarea {
    font-size: 20px;
  }
}

@media (min-height: 600px) {
  #mainAreaContainer {
    height: calc(100vh - 80px);
  }
}
