@import url('./variables.css');

.mainContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--sup);
}

.signUpContainer p {
  text-align: center;
  font-family: var(--reg);
}

.centeredContainer {
  width: 60vh;
  max-width: 85%;
  height: 90%;
}


.loginContainer {
  width: 100%;
  margin-top: 10vh;
}

.loginContainer h1 {
  font-family: var(--bol);
  font-size: 40px;
}

.inputBox {
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--acc);
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 3%;
  font-family: var(--reg);
}

.inputBox input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 2vh;
}

.password {
  max-width: 90%;
}


.inputBox input::placeholder {
  color: var(--sup);
  font-family: var(--reg);
  font-size: 2vh;
}

.loginButt {
  width: 100%;
  background-color: var(--acc);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding: 3%;
  font-family: var(--bol);
  color: white;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* WebKit (Safari, Chrome) browsers */
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.loginContainer p {
  margin-top: 2vh;
  font-family: var(--reg);
  font-size: 2vh;
  color: #9b9b9b;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 100px;
}

